<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.tizen.web.tv.sec.simulator.standalone.launch.simulatorApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HasyaKattaOfficialLive"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.tizen.common.CONFIG_ATTR_PROJECT_NAME" value="HasyaKattaOfficialLive"/>
</launchConfiguration>
